body
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 97%;
}

#wrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    min-height: 100%;
    height: 100%;
    margin-top: 10px;
}

a
{
    text-decoration: none;
}

#header
{
    height: 19px;
    background-color: #74C2E1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight: bold;
}

#header a
{
    color: white;
    font-weight: bold;
}

#appinfo
{
    float: left;
    margin-right: 45px;
    padding-top: 1px;
}

.item 
{
    height: 19px;
    float: left;
    background-color: #0191C8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    margin-right: 2px;
}

.item:hover,
.item.active
{
    background-color: #005B9A;
}

#logout
{
    float: right;
    padding-top: 1px;
}

.clear
{
    float: none;
    clear: both;
}

#main
{
    background-color: white;
    border: 1px #74C2E1 solid;
    padding: 5px 5px 0px 5px;
    min-height: 100%;
}

#login
{
    margin-left: auto;
    margin-right: auto;
    maring-top: 30px;
    width: 271px;
}

#login_header
{
    padding-left: 10px;
    font-weight: bold;
    color: white;
    background-color: #0191C8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#login_body
{
    border: 1px solid #0191C8;
    padding: 2px;
}

#logo
{
    width: 135px;
    height: 55px;
    background-image: url("#{resource['img:logo.png']}");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#tbl_category td,
#tbl_product td,
#tbl_product th
{
    text-align: center;
}

#tbl_category input,
#tbl_product input
{
    width: 100%;
}

#tbl_product select
{
    width: 90%;
}

#col1
{
    width: 50px;
}

#col2
{
    width: 200px;
}

#col3
{
    width: 150px;
}
